In [58]:
doc=["the cat sat on my face","the dog sat on my bed"]

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
vect=CountVectorizer()
Bag=vect.fit_transform(doc).toarray()

In [62]:
Bag

array([[0, 1, 0, 1, 1, 1, 1, 1],
       [1, 0, 1, 0, 1, 1, 1, 1]], dtype=int64)

In [63]:
vect.get_feature_names()

['bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the']

In [64]:
from sklearn.decomposition import TruncatedSVD

In [65]:
svd=TruncatedSVD(n_components=2)

In [66]:
LSA=svd.fit_transform(Bag)

In [67]:
LSA

array([[ 2.23606798,  1.        ],
       [ 2.23606798, -1.        ]])

In [68]:
import pandas as pd 
topic_encoded_df=pd.DataFrame(LSA,columns=['Topic1','Topic2'])

In [72]:
topic_encoded_df['doc']=doc

In [73]:
display(topic_encoded_df[['doc','Topic1','Topic2']])

                      doc    Topic1  Topic2
0  the cat sat on my face  2.236068     1.0
1   the dog sat on my bed  2.236068    -1.0

In [74]:
import numpy as np
topic_encoded_df['abs_Topic1']=np.abs(topic_encoded_df['Topic1'])
topic_encoded_df['abs_Topic2']=np.abs(topic_encoded_df['Topic2'])

In [75]:
topic_encoded_df.sort_values('abs_Topic1',ascending=False)

     Topic1  Topic2                     doc  abs_Topic1  abs_Topic2
1  2.236068    -1.0   the dog sat on my bed    2.236068         1.0
0  2.236068     1.0  the cat sat on my face    2.236068         1.0

In [78]:
topic_encoded_df.sort_values('abs_Topic2',ascending=False)

     Topic1  Topic2                     doc  abs_Topic1  abs_Topic2
0  2.236068     1.0  the cat sat on my face    2.236068         1.0
1  2.236068    -1.0   the dog sat on my bed    2.236068         1.0