In [1]:
import pandas as pd
from io import StringIO

In [2]:
csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
9.0,10.0,11.0,
'''

In [4]:
df = pd.read_csv(StringIO(csv_data))

In [6]:
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN

In [7]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [8]:
df.dropna(subset=['D'])

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  5.0  6.0  NaN  8.0

In [10]:
from sklearn.preprocessing import Imputer

In [12]:
imr = Imputer(strategy='median')

C:\Users\Aman\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [14]:
imr=imr.fit(df.values)

In [15]:
imr

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

In [17]:
imputed_data=imr.transform(df.values)

In [18]:
imputed_data

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [ 9., 10., 11.,  6.]])

In [19]:
df_categorical= pd.DataFrame(data = 
                     [['green','M',10.1,'class1'],
                      ['blue','L',20.1,'class2'],
                      ['white','M',30.1,'class1']])

In [20]:
df_categorical

       0  1     2       3
0  green  M  10.1  class1
1   blue  L  20.1  class2
2  white  M  30.1  class1

In [35]:
df_categorical.columns=['Color','Size','Price','ClassLabel']

In [36]:
df_categorical

   Color  Size  Price ClassLabel
0  green   NaN   10.1     class1
1   blue   NaN   20.1     class2
2  white   NaN   30.1     class1

MAPPING FEATURES

In [37]:
SizeMapping={'M':1,'L':2}

In [38]:
df_categorical['Size']=df_categorical['Size'].map(SizeMapping)

In [39]:
df_categorical

   Color  Size  Price ClassLabel
0  green   NaN   10.1     class1
1   blue   NaN   20.1     class2
2  white   NaN   30.1     class1

Label Encoder

In [40]:
from sklearn.preprocessing import LabelEncoder
class_labelencode = LabelEncoder()

In [43]:
df_categorical['ClassLabel']=class_labelencode.fit_transform(df_categorical['ClassLabel'])

In [44]:
df_categorical

   Color  Size  Price  ClassLabel
0  green   NaN   10.1           0
1   blue   NaN   20.1           1
2  white   NaN   30.1           0

Handling Nominal Categorical values

In [46]:
pd.get_dummies(df_categorical[['Color','Size','Price']])

   Size  Price  Color_blue  Color_green  Color_white
0   NaN   10.1           0            1            0
1   NaN   20.1           1            0            0
2   NaN   30.1           0            0            1

In [47]:
pd.get_dummies(df_categorical[['Color','Size','Price']],drop_first=True)

   Size  Price  Color_green  Color_white
0   NaN   10.1            1            0
1   NaN   20.1            0            0
2   NaN   30.1            0            1